
.product-section {
  padding: 40px;
  background-color: #f9f9f9;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}
.sort-button-container{
margin-top: 35px !important;
}
.pagination {
  max-width: 400px;
  margin: 24px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: #fff5f8;
  padding: 10px 16px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(232, 62, 140, 0.3);
  z-index: 500;
  gap: 6px; 
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
  gap: 10px;
}

.pagination-info {
  font-size: 0.85rem;
  color: #333;
  user-select: none;
}

.pagination button:disabled {
  background-color: #f8d7e9;
  color: #d6336c;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #d6336c;
}

.pagination span {
  font-size: 0.85rem;
  color: #333;
  user-select: none;
}


.product-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: box-shadow 0.3s ease-in-out;
  text-align: left; 
  position: relative;
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 1rem; 
  font-weight: 500;
  margin-top: 10px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-price {
  color: #000000;
  font-weight: bold;
  font-size: 1rem; 
}

.details {
  background-color: rgb(104, 86, 104);
  color: white;
  padding: 6px 12px; 
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 0.85rem; 
}

.details:hover {
  background-color: rgb(117, 67, 124);
}
