.shopping-cart-container {
  max-width: 1000px;
  margin: 60px auto;
  padding: 2rem;
  background-color: #fff0f5; 
  border-radius: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.shopping-cart-container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #8b005d; 
  margin-bottom: 2rem;
}

.shopping-cart-container p {
  font-size: 1rem;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 1rem;
  padding: 1rem; 
  margin-bottom: 1rem; 
  display: flex;
  align-items: center; 
  gap: 4rem; 
}
.remove-button-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.remove-button-container button {
  background-color: #b1457b; 
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.remove-button-container button:hover {
  background-color: #8e2d5d; 
}

@media (max-width: 768px) {
  .remove-button-container {
    margin-left: 0;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }
}


.cart-item-details button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-item-details button:hover {
  background-color: #cc0000;
}
.cart-item-image-container {
  flex-shrink: 0; 
}

.cart-item-image {
  max-width: 150px; 
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem; 
  justify-content: flex-start;
}

.cart-item-details p {
  margin: 0; 
}

@media (max-width: 768px) {
  .shopping-cart-container {
    padding: 1rem;
    margin: 30px 1rem;
  }

  li {
    flex-direction: column; 
    align-items: center;
    gap: 0.5rem; 
  }

  .cart-item-image {
    max-width: 80px;
  }
}
